<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block titulo %}Nada{% endblock titulo %}</title>
{% load static %}

<link rel="icon" type="image/png" sizes="16x16" href="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACFlBMVEUAAAA7Ozc7Ozc8OzY/
PzsnJyVAQDs/PjoCAwR5dm379t8tLipbWFJjYFmCf3NvbWTIw7Jyb2YnJCFYUUkkJSNSTko7Njaj
no+zrp2bl4pva2MAAACRjH7//+kuKyz////RzbuZlYnIwrHMxbTAuqmqpZV3dGmpo49EPzlcVk0q
KihtamCloZFWV1C2saLUzLnWz7zOybS1r5uMhnYAAACLhHNOS0IAAAAtKiomJiZhX1aemYmwqpuy
q5vKw67Kxa/HwarDvKK0rZSclYB+eWlBPjjv4biCfGlYVEt7d2u8tqLVzrnb1b/UzbfEvqfAuqG9
tZu6sZa2rJKrooqYkXuEfmtwaltRT0ZlYViWkYK6taTNyLTY0LrTy7PBuqK4r5a1rJGwpoyroYih
mICUi3SCe2hgW1AZGhwXFxlPTUiRjH6zrZvKwq3Nxa24r5eon4adlH2RiXSIgGx+d2VqZVZQTUQm
JiYmJiYfHyAICQ1CQDyBfHCqo5G5sZqfl4CHgG11cGBeWU5CPzopKCgXGBsmJiYmJiYmJiYmJiYg
ICEKCw8vLy1va191cGFTUEcwLy0eICAeHyAiIyQkJSUmJiYmJiYmJiYmJiYmJiYnJyYfHyAAAAUG
CA4LDRMdHiAnJygmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYnJycnJygnJycmJiYmJiYh
KyYmJib///+42U49AAAAsXRSTlMAAAAAAAAAAwQAAAAAFncaAAAAAAAACLbLXxgBAAAAAABo//vV
liAAAAAAAAAWy////8ZFAwAAAAAAG1tvwP/////vnT4LAAAATvf///////////G+iFsYHJPh////
//////////hSCiJCgdL8////////9Mg6BBUaFjB1xff/+96rdDsHAAIJDxAVKWulfU8yGwUAAAAA
AQIFBgoQCwcBAAAAAAAAAAAAAAAAAAAAAAAKfOe2AAAAAWJLR0SxNGOeUgAAAAd0SU1FB+UGFQ4m
NIouKAcAAADRSURBVAjXY2BkYmZhZUAANnYOTi5uBJ+Hl49fQFBIWATKFxUTl5CUkpaRlYPw5RUU
lZRVVNXUNTS1QHxtHV09fQNDI2MTUzNzC0sGK2sbWzt7B0cnZxdXN3cPBk8vbx9fP/+AwKDgkNCw
cIaIyKjomNi4+ITEpOSU1DSG9IzMrOyc3Lz8gsKi4pJShrLyisqq6prauvqGxqbmFobWtvaOzq7u
nt6+/gkTJ01mmDJ12vQZM2fNnjN33vwFCxcxLF6ydNnyFStXrV6zdt36DQzoAAAX8jzZ38EIWgAA
ACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wNi0yMVQxNDozODo1MiswMDowMPTAui8AAAAldEVYdGRh
dGU6bW9kaWZ5ADIwMjEtMDYtMjFUMTQ6Mzg6NTIrMDA6MDCFnQKTAAAAAElFTkSuQmCC" />

<link rel="stylesheet" type="text/css" href="{% static 'forum/estilo.css' %}">

</head>
<body>
<header>
	<nav>
	</nav>
</header>
<main>
	{% block conteudo %}
	Nada
	{% endblock conteudo %}
</main>
<footer>

</footer>
</body>
</html>